{
    "env": {
        "node": true,
        "es6": true
    },
    "parserOptions": {
        "ecmaVersion": 11,
        "sourceType": "module"
    },
    "plugins": [
        "prettier"
    ],
    "extends": [
        "plugin:prettier/recommended"
    ]
}